-
  structure.character.aventure = {
    view: [
      {
        name: 'aventure',
        type: 'number',
        value: '1'
      },
      {
        name: 'aventure_max',
        label: 'PA max'
      },
      {
        name: 'aventure_prouesse',
        label: 'Placeholder tips',
        css: 'tips'
      }
    ],
    fields: [
      {
        name: 'aventure_max',
        type: 'number',
        value: '1'
      },
      {
        name: 'aventure_prouesse',
        type: 'text'
      }
    ]
  }