-
  structure.character.caracs = {
    view: [
      {
        name: 'carac_vig',
        label: 'Vig',
      },
      {
        name: 'carac_dex',
        label: 'Dex',
      },
      {
        name: 'carac_int',
        label: 'Int',
      },
      {
        name: 'carac_cha',
        label: 'Cha',
      },
    ],
    fields: [
      {
        name: 'carac_vig',
        label: 'Vigueur',
        type: 'number',
        value: '10',
      },
      {
        name: 'carac_CompVig',
        type: 'checkbox',
      },
      {
        name: 'carac_dex',
        label: 'Dextérité',
        type: 'number',
        value: '10',
      },
      {
        name: 'carac_CompDex',
        type: 'checkbox',
      },
      {
        name: 'carac_int',
        label: 'Intelligence',
        type: 'number',
        value: '10',
      },
      {
        name: 'carac_CompInt',
        type: 'checkbox',
      },
      {
        name: 'carac_cha',
        label: 'Charisme',
        type: 'number',
        value: '10',
      },
      {
        name: 'carac_CompCha',
        type: 'checkbox',
      },
      {
        name: 'carac_rollCarac',
        type: 'roll'
      }
    ]
  }