-
  structure.character.caracs = {
    view: [
      {
        name: 'vig',
        label: 'Vig',
        suffix: '+'
      },
      {
        name: 'dex',
        label: 'Dex',
        suffix: '+'
      },
      {
        name: 'int',
        label: 'Int',
        suffix: '+'
      },
      {
        name: 'cha',
        label: 'Cha',
        suffix: '+'
      }
    ],
    fields: [
      {
        name: 'vig',
        label: 'Vigueur',
        type: 'number',
        value: '10'
      },
      {
        name: 'CompVig',
        type: 'checkbox'
      },
      {
        name: 'dex',
        label: 'Dextérité',
        type: 'number',
        value: '10'
      },
      {
        name: 'CompDex',
        type: 'checkbox'
      },
      {
        name: 'int',
        label: 'Intelligence',
        type: 'number',
        value: '10'
      },
      {
        name: 'CompInt',
        type: 'checkbox'
      },
      {
        name: 'cha',
        label: 'Charisme',
        type: 'number',
        value: '10'
      },
      {
        name: 'CompCha',
        type: 'checkbox'
      },
      {
        name: 'rollCarac',
        type: 'roll'
      }
    ]
  }