-
  structure.character.defense = {
    view: [
      {
        name: 'defBase',
        suffix: 'Base'
      },
      {
        name: 'ca',
        icon: 'https://chocolanoar.github.io/coeurs-vaillants-2-fiche-roll20/assets/shield.svg'
      }
    ],
    fields: [
      {
        name: 'defBase',
        type: 'number',
        value: '10'
      },
      {
        name: 'ca',
        type: 'number',
        value: '10'
      }
    ]
  }

  structure.character.mouvement = {
    view: [
      {
        name: 'mouvementBase',
        suffix: '+ Base'
      },
      {
        name: 'mouvement',
        icon: 'https://chocolanoar.github.io/coeurs-vaillants-2-fiche-roll20/assets/barefoot.svg',
        suffix: '+'
      }
    ],
    fields: [
      {
        name: 'mouvementBase',
        type: 'number',
        value: '10'
      },
      {
        name: 'mouvement',
        type: 'number',
        value: '10'
      },
      {
        name: 'CompMou',
        type: 'checkbox'
      }
    ]
  }