-
  structure.character.defense = {
    view: [
      {
        name: 'defense_defBase'
      },
      {
        name: 'defense_ca'
      },
      {
        name: 'defense_mouvementBase'
      },
      {
        name: 'defense_mouvement'
      }
    ],
    fields: [
      {
        name: 'defense_defBase',
        type: 'number',
        value: '10'
      },
      {
        name: 'defense_ca',
        type: 'number',
        value: '10'
      },
      {
        name: 'defense_mouvementBase',
        type: 'number',
        value: '10'
      },
      {
        name: 'defense_mouvement',
        type: 'number',
        value: '10'
      },
      {
        name: 'defense_CompMou',
        type: 'checkbox'
      }
    ]
  }