-
  structure.character.technique = {
    view: [
      {
        name: 'technique_nameTech',
        label: 'Technique : '
      },
      {
        name: 'technique_bonusTech'
      },
      {
        name: 'technique_damageTech'
      },
      {
        name: 'technique_descTech'
      }
    ],
    fields: [
      {
        name: 'technique_nameTech',
        label: 'Nom de la technique',
        type: 'text'
      },
      {
        name: 'technique_bonusTech',
        label: 'Bonus au jet',
        type: 'number'
      },
      {
        name: 'technique_damageTech',
        label: 'Dégâts',
        type: 'text'
      },
      {
        name: 'technique_descTech',
        type: 'text'
      }
    ]
  }

  structure.character.cac = {
    view: [
      {
        name: 'cac_nameCac',
        label: 'Corps-à-corps : '
      },
      {
        name: 'cac_bonusCac'
      },
      {
        name: 'cac_damageCac'
      },
      {
        name: 'cac_descCac'
      }
    ],
    fields: [
      {
        name: 'cac_nameCac',
        label: 'Arme de corps à corps',
        type: 'text'
      },
      {
        name: 'cac_bonusCac',
        label: 'Bonus au jet',
        type: 'number'
      },
      {
        name: 'cac_damageCac',
        label: 'Dégâts',
        type: 'text'
      },
      {
        name: 'cac_descCac',
        type: 'text'
      }
    ]
  }

  structure.character.distance = {
    view: [
      {
        name: 'distance_nameDist',
        label: 'Distance : '
      },
      {
        name: 'distance_bonusDist'
      },
      {
        name: 'distance_damageDist'
      },
      {
        name: 'distance_descDist'
      }
    ],
    fields: [
      {
        name: 'distance_nameDist',
        label: 'Arme à distance',
        type: 'text'
      },
      {
        name: 'distance_bonusDist',
        label: 'Bonus au jet',
        type: 'number'
      },
      {
        name: 'distance_damageDist',
        label: 'Dégâts',
        type: 'text'
      },
      {
        name: 'distance_descDist',
        type: 'text'
      }
    ]
  }

  structure.character.armure = {
    view: [
      {
        name: 'armure_nameArmu',
        label: 'Armure : '
      },
      {
        name: 'armure_bonusArmu'
      },
      {
        name: 'armure_descArmu'
      }
    ],
    fields: [
      {
        name: 'armure_nameArmu',
        label: 'Armure',
        type: 'text'
      },
      {
        name: 'armure_bonusArmu',
        label: 'Bonus d’armure',
        type: 'number'
      },
      {
        name: 'armure_descArmu',
        type: 'text'
      }
    ]
  }