-
  structure.character.consomables = {
    view: [
      {
        name: 'consomable_text_conso',
        type: 'textarea'
      }
    ]
  }

  structure.character.inventaire = {
    view: [
      {
        name: 'inventaire_equip',
        type: 'textarea',
        value: 'Sac d’aventurier, réserve de projectiles.'
      }
    ]
  }