-
  structure.character.legacy = {
    fields: [
      {
        name: 'legacy_peuple',
        type: 'text'
      },
      {
        name: 'legacy_classe',
        type: 'text'
      },
      {
        name: 'legacy_historique',
        type: 'textarea'
      },
      {
        name: 'legacy_bonus',
        type: 'textarea'
      }
    ],
    repeating: [
      {
        name: 'legacy_utilRest',
        type: 'span'
      },
      {
        name: 'legacy_utilMax',
        type: 'span'
      },
      {
        name: 'legacy_macroCapa',
        type: 'span'
      }
    ]
  }