-
  structure.character.life = {
    view: [
      {
        name: 'pv',
        type: 'number'
      },
      {
        name: 'pv_max'
      },
      {
        name: 'pvTemp',
        type: 'number',
        value: '0'
      },
      {
        name: 'pvAggr',
        type: 'number',
        value: '0'
      },
      {
        name: 'life_testRepit',
        type: 'roll'
      },
      {
        name: 'life_testSecSouffle',
        type: 'roll'
      }
    ],
    fields: [
      {
        name: 'pv_max',
        type: 'number'
      },
      {
        name: 'life_bonusPv',
        type: 'number',
        value: '8'
      },
      {
        name: 'life_jetdv',
        type: 'roll'
      }
    ]
  }