-
  structure.character.life = {
    view: [
      {
        name: 'pv',
        type: 'number'
      },
      {
        name: 'pv_max'
      },
      {
        name: 'pvTemp',
        type: 'number',
        value: '0'
      },
      {
        name: 'pvAggr',
        type: 'number',
        value: '0'
      },
      {
        name: 'roll_testRepit',
        label: 'Répit',
        type: 'roll',
        value: '&{template:jet} {{characterName=@{character_name}}} {{rollname=Récupération - répit}} {{rollResult1=[[@{niveau}d4]] PV}}'
      },
      {
        name: 'roll_testSecSouffle',
        label: '2nd souffle',
        type: 'roll',
        value: '&{template:jet} {{characterName=@{character_name}}} {{rollname=Second souffle}} {{rollResult1=[[@{niveau}d8]] PV}}'
      }
    ],
    fields: [
      {
        name: 'pv_max',
        type: 'number'
      },
      {
        name: 'bonusPv',
        type: 'number',
        value: '8'
      },
      {
        name: 'jetdv',
        type: 'roll'
      }
    ]
  }