-
  structure.character.metiers = {
    view: [
      {
        name: 'metier_capaName'
      },
      {
        name: 'metier_capaAtour'
      },
      {
        name: 'metier_capaUsuel'
      },
      {
        name: 'metier_capaProuesse'
      },
      {
        name: 'metier_utilUsuel',
        type: 'radio',
        value: '11',
        radio_class: 'check-utilUsuel'
      }
    ],
    fields: [
      {
        name: 'metier_capaName',
        type: 'text',
        placeholder: 'Nom du métier'
      },
      {
        name: 'metier_capaAtour',
        type: 'textarea',
        placeholder: 'Atour'
      },
      {
        name: 'metier_capaUsuel',
        type: 'textarea',
        placeholder: 'Usuel'
      },
      {
        name: 'metier_capaProuesse',
        type: 'textarea',
        placeholder: 'Prouesse'
      }
    ]