-
  structure.character.niveau = {
    view: [
      {
        name: 'niveau_niveau',
        label: 'Niv'
      },
      {
        name: 'niveau_xp',
        label: 'XP',
        type: 'number'
      },
      {
        name: 'niveau_xpTotal'
      },
      {
        name: 'niveau_tips1',
        label: '1XP : relancer avec Avantage',
        type: 'tips'
      },
      {
        name: 'niveau_tips2',
        label: '3 XP × Niveau : gain de niveau',
        type: 'tips'
      },
      {
        name: 'niveau_tips3',
        label: '6XP : apprendre un nouveau Métier',
        type: 'tips'
      },
      {
        name: 'niveau_tips4',
        label: '6XP : Point d’Aventure supplémentaire',
        type: 'tips'
      }
    ],
    fields: [
      {
        name: 'niveau_niveau',
        label: 'Niveau',
        type: 'number'
      },
      {
        name: 'niveau_xp',
        label: 'Points d’expérience',
        type: 'number'
      },
      {
        name: 'niveau_xpTotal',
        label: 'Total XP acquis : ',
        type: 'number'
      }
    ]
  }