-
  structure.character.niveau = {
    view: [
      {
        name: 'niveau',
        label: 'Niv',
        css: 'niveau-valeur'
      },
      {
        name: 'xp',
        label: 'XP',
        type: 'number'
      },
      {
        name: 'xpTotal'
      },
      {
        name: 'niveau_tips1',
        label: '1XP : relancer avec Avantage',
        css: 'tips'
      },
      {
        name: 'niveau_tips2',
        label: '3 XP × Niveau : gain de niveau',
        css: 'tips'
      },
      {
        name: 'niveau_tips3',
        label: '6XP : apprendre un nouveau Métier',
        css: 'tips'
      },
      {
        name: 'niveau_tips4',
        label: '6XP : Point d’Aventure supplémentaire',
        css: 'tips'
      }
    ],
    fields: [
      {
        name: 'niveau',
        label: 'Niveau',
        type: 'number'
      },
      {
        name: 'xp',
        label: 'Points d’expérience',
        type: 'number'
      },
      {
        name: 'xpTotal',
        label: 'Total XP acquis : ',
        type: 'number'
      }
    ]
  }