-
  structure.character.origine = {
    view: [
      {
        name: 'origine_orig_name'
      },
      {
        name: 'origine_orig_atour'
      },
      {
        name: 'origine_orig_prouesse'
      },
      {
        name: 'origine_donNaiss',
        label: 'Don de naissance : '
      }
    ],
    fields: [
      {
        name: 'origine_orig_name',
        type: 'text',
        placeholder: 'Nom de l’origine'
      },
      {
        name: 'origine_orig_atour',
        type: 'textarea',
        placeholder: 'Atour'
      },
      {
        name: 'origine_orig_prouesse',
        type: 'textarea',
        placeholder: 'Prouesse'
      },
      {
        name: 'origine_donNaiss',
        label: 'Don de naissance',
        type: 'textarea'
      }
    ]
  }