-
  structure.character.sauvegarde = {
    view: [
      {
        name: 'sauvegarde_testSave',
        label: 'Sauvegarde',
        type: 'roll'
      },
      {
        name: 'sauvegarde_exalte',
        label: 'Exalté',
        type: 'checkbox'
      }
    ],
    fields: [
      {
        name: 'sauvegarde_svg',
        label: 'Seuil de sauvegarde',
        type: 'number',
        value: '15'
      }
    ]
  }