-
  structure.character.traits = {
    view: [
      {
        name: 'character_name',
        label: 'Nom',
        css: 'trait'
      },
      {
        name: 'charDesc',
        label: 'Description',
        css: 'trait'
      },
      {
        name: 'langues',
        label: 'Langues connues : ',
        css: 'trait'
      }
    ],
    fields: [
      {
        name: 'character_name',
        label: 'Nom',
        type: 'text'
      },
      {
        name: 'charDesc',
        label: 'Description',
        type: 'text'
      },
      {
        name: 'langues',
        label: 'Langues connues ',
        type: 'text'
      }
    ]
  }