-
  structure.character.traits = {
    view: [
      {
        name: 'character_name',
        label: 'Nom'
      },
      {
        name: 'traits_charDesc',
        label: 'Description'
      },
      {
        name: 'traits_langues',
        label: 'Langues connues : '
      }
    ],
    fields: [
      {
        name: 'character_name',
        label: 'Nom',
        type: 'text'
      },
      {
        name: 'traits_charDesc',
        label: 'Description',
        type: 'text'
      },
      {
        name: 'traits_langues',
        label: 'Langues connues ',
        type: 'text'
      }
    ]
  }