-
  const structure = {
    sheets: ["character", "bestiary"],
    character: { sheet: 'character' },
    bestiary: { sheet: 'bestiary' },

    common: {},
  };

include character/aventure.struct.pug
include character/carac.struct.pug
include character/combat.struct.pug
include character/defense.struct.pug
include character/equipement.struct.pug
include character/inventaire.struct.pug
include character/legacy.struct.pug
include character/life.struct.pug
include character/metiers.struct.pug
include character/niveau.struct.pug
include character/origine.struct.pug
include character/sauvegarde.struct.pug
include character/traits.struct.pug