-
  const structure = {
    sheets: ["character", "bestiary"],
    character: { sheet: 'character' },
    bestiary: { sheet: 'bestiary' },

    common: {},
  };

//-
  Personnage
    caracs
      vig
      dex
      int
      cha
      compensation
    aventure
  Commun
    niv
    pv
      temp
      aggr