section.sheet-personnage--view
  span toto
section.sheet-personnage--edit
  .sheet-ligne.sheet-borderBottom
    include character/header
  .sheet-ligne.sheet-borderBottom
    include character/attributes
    include character/counters
  .sheet-mycolbrd.sheet-borderBottom(style="width: 100%;")
    include character/battle
  .sheet-mycolbrd.sheet-borderBottom(style="width: 100%;")
    include character/ressources
  .sheet-mycolbrd(style="width: 100%;")
    include character/equipement